<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Home</button>
    <ng-template ngbNavContent>
      <div class="container">
        <div class="row">
          <app-table [dataTable]="dataTable"/>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Cadastrar Item</button>
    <ng-template ngbNavContent>
      <div class="container">
        <div class="row">
          <app-form />
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
